*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Quantico', 'Arial Narrow', Arial, sans-serif;
}

/* PAGE*/

body{
    font: 1rem sans-serif;
    background: url('../pexels-sharad-kachhi-3937174_normal.jpg') no-repeat center center;
    background-size: cover; 
    /* background-position: center; */
    /* -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; */
    color: white;
}

#page{
    margin: 0 50px 0 50px;
}

/* HEADER */

#image{
    text-align: center;
    background-color: white;
    /* border: 7px solid #35b88f;; */
}

#logo1{
    margin: 20px 0 20px 0;    
    width: 45px;
    vertical-align: middle;
    height: auto;
}

#logo2{
    height: auto;
    vertical-align: middle;
}

div#titre{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto; 
}

/*Formulaire*/

#box{
    margin-top: 30px;   
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
    background-color: rgba(11,39,53,0.95);
    /* border-left: 1px solid rgb(53, 184, 143);
    border-right: 1px solid rgb(53, 184, 143);
    border-top: 1px solid rgb(53, 184, 143);
    border-bottom: 1px solid rgb(53, 184, 143); */
    height: auto;
    margin-bottom: 50px;
}

.formBloc{
    padding:20px;
    
}

#box .formBloc label.profil{
    display: block;
    margin-top: 3px;
}

.formBloc .button{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    /* display: block; */
}

.formBloc .button .buttonSubmitStyle{
    color: white;
    width: 40%;
    border-style: none;
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 0;
    border-radius: 99px;
    background-color: #35b88f;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
}

#buttonSubmit:hover{
    background-color: #098d6c;
    text-decoration: underline;
}

.errorMessage{
    color: red;
}

#emailVerification{
    color: red;
}

/* Element du formulaire*/

.starObligatoryField{
    color: #098d6c;
}

.marginLabelandPForm{
    margin-top : 60px;
    color: green;
}

.atLine{
    display: block;
}


.blockSizeOfForm{
    width: 100%;
}

textarea{
    border-radius: 3px;
    padding: 10px;
    background-color: rgba(10, 85, 122, 0.5);
    color: white;
}

input{
    background-color: rgba(10, 85, 122, 0.5);
    color: white;
}

input[type=text]{
    border-radius: 3px;
    border: 1px solid grey;
    height: 50px;
    padding-left: 5px;
}

input[type=email]{
    border-radius: 3px;
    border: 1px solid grey;
    height: 50px;
    padding-left: 5px;
}

input[type=radio], input[type=checkbox]{
    margin-right: 6px;
    /* background-color: rgba(22, 71, 95, 0.9); */
}

.wordingField{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

#labelName{
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

input::placeholder{
    opacity: 0.4;
}

#requiredField{
    margin-top: 30px;
}

/* Resultat du formulaire */

#resultOk{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: rgb(53, 184, 143);
    border-radius: 10px;
    border: 2px solid rgb(184, 230, 216);
    text-align: center;
    color: #fff;
    height: auto;
    width: 30%;
}

.block{
    display: block;
}

.none{
    display: none;
}

#invalidForm{
    text-align:center;
    margin-top: 10px;
}

/* Mediaqueries pour mobile */

@media screen and (max-width: 1024px) {

    body{
        background: url('../pexels-sharad-kachhi-3937174_small.jpg');
    }
    #box{
        width: 100%;
        margin-top: 10px; 
    }
    div#titre{
        height: 100%;
        /* margin-top: 0px; */
    }

    #page{
        margin: 0 20px;
    }
    #logo2{
        max-width: 100%;
    }
    }

    @media screen and (max-width: 750px){
        div#titre{
            height: 92px;
        }
    }

    @media screen and (max-width: 386px){
        div#titre{
            height: 140px;
        }
    }


    @media screen and (max-width: 350px){
        #logo1{
            display: none;
        }
    }






