*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Quantico', 'Arial Narrow', Arial, sans-serif;
}

/* PAGE*/

body{
    font: 1rem sans-serif;
}

#page{
    margin: 0 50px 0 50px;
}

/* HEADER */

#image{
    margin-top: 20px;
    text-align: center;
}

#logo1{
    width: 45px;
    vertical-align: middle;
    height: auto;
}

#logo2{
    height: auto;
    vertical-align: middle;
}

/*Formulaire*/

#box{
    margin-top: 50px; 
    background-color: white;
    border-radius: 10px;   
    width: 50%;
    margin-left: auto; 
    margin-right: auto; 
    color: #0b2735;
    border-left: 4px solid rgb(53, 184, 143);
    border-right: 4px solid rgb(53, 184, 143);
    border-top: 10px solid rgb(53, 184, 143);
    border-bottom: 10px solid rgb(53, 184, 143);
    height: auto;
    margin-bottom: 50px;
}

.formBloc{
    padding:20px;
    
}

#box .formBloc label.profil{
    display: block;
    margin-top: 3px;
}

.formBloc .button{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    /* display: block; */
}

.formBloc .button .buttonSubmitStyle{
    color: white;
    width: 40%;
    border-style: none;
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 0;
    border-radius: 99px;
    background-color: #35b88f;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
}

#buttonSubmit:hover{
    background-color: #098d6c;
    text-decoration: underline;
}

.obligatoryField{
    color: red;
}

#emailVerification{
    color: red;
}

/* Element du formulaire*/

.starObligatoryField{
    color: #098d6c;
}

.marginLabelandPForm{
    margin-top : 60px;
    color: green;
}

.atLine{
    display: block;
}


.blockSizeOfForm{
    width: 100%;
}

textarea{
    border-radius: 3px;
    padding: 10px;
}

input[type=text]{
    border-radius: 3px;
    border: 1px solid grey;
    height: 50px;
    padding-left: 5px;
}

input[type=email]{
    border-radius: 3px;
    border: 1px solid grey;
    height: 50px;
    padding-left: 5px;
}

input[type=radio], input[type=checkbox]{
    margin-right: 6px;
}

.wordingField{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.1em;
}

#labelName{
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

input::placeholder{
    opacity: 0.4;
}

/* Resultat du formulaire */

#resultFormProfileStyle{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: rgb(53, 184, 143);
    border-radius: 10px;
    border: 4px solid rgb(184, 230, 216);
    text-align: center;
    color: #fff;
    height: auto;
    width: 30%;
}

#resultFormProfessionalStyle{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background: rgb(53, 184, 143);
    border-radius: 10px;
    border: 4px solid rgb(184, 230, 216);
    text-align: center;
    color: #fff;
    height: auto;
    width: 30%;
}

.block{
    display: block;
}

.none{
    display: none;
}

#invalidForm{
    text-align:center;
    margin-top: 10px;
}

/* Mediaqueries pour mobile */

@media screen and (max-width: 780px) {

    #box{
        width: 100%;
        margin-bottom: 0px;
    }
    #page{
        margin: 1px;
    }
    #logo2{
        max-width: 100%;
    }
    }

    @media screen and (max-width: 350px){
        #logo1{
            display: none;
        }
    }






